<table>
  <tbody>
  <tr><th>ID</th><th> Ldap Identifier </th><th>Group Name<th></tr>
  <% @studies.each do | study | %>
  <tr>
     <td><%= study[:id]%></td>
     <td><%= study[:ldap_id] %></td>
     <td><%= study[:group_name] %><td>
     <td><%= link_to "delete", study, :method => :delete%></td>
     <td><%= search_user_link(study[:ldap_id])%></td>
     <td><%= add_user_link(study[:ldap_id])%></td>
  </tr>
<%end%>
</tbody>
</table>
