
<%if defined? @result %>

<% if defined? params[:id] %>
<table>
<tr>
  <td><%= add_users_link(params[:id])%></td>
  <td><%= destroy_users_link(params[:id])%></td>
</tr>
</table>
<%end%>

<% if @result.any? %>

<table class="list">
  <caption><b>GROUPE : </b><%= " " + @caption + ""%> </caption>
  <caption><%="Nombre d'étudiants " + @result.size.to_s %></caption>
    <thead><tr>
  <th><%='uid'%></th>
  <th><%='displayname'%></th>
  <th><%='mail'%></th>
  <th><%='auaetapemillesime'%></th>
  </tr></thead>

  <tbody>

    <% @result.each do |student| %>
    <%= logger.info "#{student["aua"]}" %>

      <tr class="<%= cycle 'odd', 'even' %>">
            <td align="center"><%= student["uid"]%></td>
            <td align="center"><%= student["displayname"] %></td>
            <td align="center"><%= student["mail"] %></td>
            <td align="center"><%= student["auaetapemillesime"] %></td>
    </tr>
      <%end%>
    </tbody>
    </table>
    <%else%>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
<%end%>
